<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="and moreeee" name="description">
  <meta name="google" content="notranslate" />

  <link href="./static/fav.ico" rel="icon">

  <title>About me</title>

  <link href="./static/css-beautify-minify.css" rel="stylesheet">
</head>

<body class="">
  <div id="site-border-left"></div>
  <div id="site-border-right"></div>
  <div id="site-border-top"></div>
  <div id="site-border-bottom"></div>

  <header>
    <nav class="navbar  navbar-fixed-top navbar-default">
      <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
          aria-expanded="false">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav ">
            <li><a href="./index.html" title="">01 : Home</a></li>
            <li><a href="./works.html" title="">02 : Works</a></li>
            <li><a href="./about.html" title="">03 : About me</a></li>
            <li><a href="./contact.html" title="">04 : Contact</a></li>
          </ul>


        </div>
      </div>
    </nav>
  </header>

  <div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">03 : About me</h1>
          </div>

          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <h3>a little of me!</h3>
                  <p>hey my name is danial and this is my first website that i worked on it or better to say i worked on
                    part of it and modify it, try to desighn it, make it a better website and more to go...(and i love
                    cats special orange one)</p>
                  <h3>future works</h3>
                  <p>i hope so that i create whole new site by myself and iam trying to be more productive by the time
                    pass and Continue to work harder in website field and AI field.
                  <h3>for now!</h3>
                  <p>
                    for now this website is somewhere to see a little about me and my works and contact with me from
                    anywhere.</p>
                </div>
                <div class="col-xs-12 col-md-6">
                  <img src="./static/assets/images/profile.jpg" class="img-responsive" alt="">
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function (event) {
      navActivePage();
    });
  </script>

  <script type="text/javascript" src="./static/main.70a66962.js"></script>
</body>

</html>